:host {
  // fill the page
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  background-color: #eee;
  color: #222;
  height: 100vh;
  width: 100vw;

  ::ng-deep .as-split-gutter {
    background-color: forestgreen !important;
  }
}

input[type=file] {
  display: none;
}

app-toggle, .btn {
  display: inline-block;
  border-radius: 0.25rem;
  text-align: center;
  margin: 0.125rem;
  cursor: pointer;
  padding: 0.125rem 0.5rem;

  border: 1px solid blue;
  background-color: #bbf;
  color: #223;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11pt;
}

app-toggle.btn, .btn.green {
  border-color: forestgreen;
  background-color: #f0fff0;;
  color: #232;
  &.on {
    background-color: forestgreen;
    color: #f0fff0;
    border-color: black;
  }
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
  li > span.btn {
    width: 1rem;
    color: darkred;
    padding: 0 0.125rem;
    margin-right: 0.125rem;
  }
}


nav,
footer {
  padding: 6px 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: #888;
  border-bottom: 1px solid black;
  box-shadow: 0 2px 4px #00000080;
}

.aside {
  display: grid;
  background-color: #ccc;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0.5rem;
  padding: 0.5rem;
  justify-content: start;
  align-content: flex-start;
}

.article {
  display: grid;
  background-color: #aaa;
  grid-template-rows: auto 1fr;
}

.title {
  font-size: 20px;
  background-color: #aaa;
  text-align: center;
  padding: 6px 0;
}

.editor {
  // only applies when embedded
  background-color: #fff;
}


pre {
  margin: 0;
  padding: 0.25rem;
  overflow: auto;
  max-height: 100%;
  background-color: white;
}
