<nav>NAVBAR</nav>
<as-split unit="pixel" class="main">
  <as-split-area class="aside" size="250">
    <div class="buttons">
      <app-toggle [(ngModel)]="visible" style="min-width: 3rem;">
        {{ visible ? 'Editor' : 'JSON' }}
      </app-toggle>
      <app-toggle [(ngModel)]="disabled">Disabled</app-toggle>
      <app-toggle [(ngModel)]="readOnly">Read Only</app-toggle>
      <app-toggle [(ngModel)]="embedded">Embedded</app-toggle>
      <button type="button" (click)="clear()">Clear</button>
      <button type="button" (click)="save()">Save&hellip;</button>
      <button type="button" (click)="file.click()">Load&hellip;</button>
      <button type="button" (click)="hello()">Hello World</button>
      <button type="button" (click)="fonts()">Fonts</button>
      <button type="button" class="extra" (click)="token()">Keycloak Test</button>
    </div>
    <div>
      <input placeholder="width" [(ngModel)]="width" />
      <input placeholder="height" [(ngModel)]="height" />
      <input
        #file
        type="file"
        accept=".json"
        (change)="load($event.target.files)"
        style="display: none;"
      />
    </div>
    <div>CM CONTENTS <span class="btn" (click)="getDocs()">Get</span></div>
    <ul>
      <li *ngFor="let doc of docs">
        <span class="btn" (click)="delete(doc)">&times;</span>
        <a [href]="doc.url" target="_blank">{{doc.fileName}}</a>

      </li>
    </ul>
  </as-split-area>
  <as-split-area class="article" size="*">
    <div class="title">TITLE</div>
    <maw-editor
      #editor
      *ngIf="visible; else json"
      class="editor"
      [ngModel]="content"
      (ngModelChange)="store($event)"
      [disabled]="disabled"
      [width]="width"
      [height]="height"
      [readOnly]="readOnly"
      [embedded]="embedded"
    ></maw-editor>
    <ng-template #json>
      <pre>{{ content | json }}</pre>
    </ng-template>
  </as-split-area>
</as-split>
<footer>FOOTER</footer>
